@using System.Collections

@* This is a c# island *@
@{
    ViewData["Title"] = "Home Page";
    
    string[]? days = ViewData["days"] as string[];
}

<div class="text-center">
    <h1 class="display-4" style="color: tomato">Welcome to COMP4870</h1>
   
    <ul>
    @foreach (var item in days!)
    {
        <li>@item</li>
    }
    </ul>
</div>
