@model System.Diagnostics.Process[]

@* This is a c# island *@
@{
    ViewData["Title"] = "Process";
}
<div class="text-center">
    <h1 class="display-4" style="color: tomato">Process</h1>
    
    <ul>
        @foreach (var item in Model)
        {
            if (item.ProcessName.Trim().Length > 0) 
            {
                <li>
                    <a asp-controller="Process"
                       asp-action="Display"
                       asp-route-id="@item.Id">@item.ProcessName</a>
                </li>
            }
        }

    </ul>

</div>
